<% layout("/layouts/boilerplate") %>
<body>
    <div class="index">
        
        <div class="row">
            <!-- Pie Chart Section -->
            <div class="pieChart card col-12 col-md-6 mb-3">
                <canvas id="progressChart"></canvas>
            </div>
        
            <!-- Bar Chart Section -->
            <div class="barChart card col-12 col-md-6 mb-3">
                <form action="/players/<%= player._id %>/progress" method="get">
                    <select class="form-select form-select-sm mb-3" name="bar" id="category" aria-label="Large select example">
                        <option selected>select ONE</option>
                        <option value="serve">Serve</option>
                        <option value="hitting">Hitting</option>
                        <option value="receive">Receive</option>
                        <option value="blocking">Blocking</option>
                        <option value="setting">Setting</option>
                        <option value="defense">Defense</option>
                    </select>
                    <button type="submit " class="btn btn-primary btn-sm btn-md-lg btn-sm">Submit</button>
                </form>
                <canvas id="pastChart"></canvas>
            </div>
        </div>
            
        <hr>
        <% if(currUser && currUser._id.equals(player.owner._id)) { %>
        
            <!-- <label for="servePoints">Serve Points</label>
            <input type="number" name="servePoints" max="10" min="0" required class="form-control mb-2">
            
            <label for="receivePoints">Receive Points</label>
            <input type="number" name="receivePoints" max="10" min="0" required class="form-control mb-2">
            
            <label for="hittingPoints">Hitting Points</label>
            <input type="number" name="hittingPoints" max="10" min="0" required class="form-control mb-2">
            
            <label for="blockingPoints">Blocking Points</label>
            <input type="number" name="blockingPoints" max="10" min="0" required class="form-control mb-2">
            
            <label for="defensePoints">Defense Points</label>
            <input type="number" name="defensePoints" max="10" min="0" required class="form-control mb-2">
            
            <label for="settingPoints">Setting Points</label>
            <input type="number" name="settingPoints" max="10" min="0" required class="form-control mb-2">
             -->
             <div class="row justify-content-center">
                <div class="col-6  text-center">
                    <h3>Want to ADD Progress?</h3>
                </div>
                <div class="col-5 text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Progress</button>
                </div>
            </div>
       
        <% } %>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">ADD POINTS What you have earned !</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row offset-3 mb-3">
                <form action="/players/<%= player._id %>" method="POST">
                    <div class="col mb-1">
                        <label for="servePoints">Serve Points</label>
                        <input type="number" name="servePoints" max="10" min="0" required>
                    </div>
                    
                    <div class="col mb-1">
                        <label for="receivePoints">Receive Points</label>
                        <input type="number" name="receivePoints" max="10" min="0" required>
                    </div>
                    
                    <div class="col mb-1">
                        <label for="hittingPoints">Hitting Points</label>
                        <input type="number" name="hittingPoints" max="10" min="0" required>
                    </div>
                    
                    <div class="col mb-1">
                        <label for="blockingPoints">Blocking Points</label>
                        <input type="number" name="blockingPoints" max="10" min="0" required>
                    </div>
                    
                    <div class="col mb-1">
                        <label for="defensePoints">Defense Points</label>
                        <input type="number" name="defensePoints" max="10" min="0" required>
                    </div>
                    
                    <div class="col mb-1">
                        <label for="settingPoints">Setting Points</label>
                        <input type="number" name="settingPoints" max="10" min="0" required>
                    </div>
                    
                    <div class="col ms-5">
                        <button type="submit" class="btn btn-outline-primary">add progress</button>
                    </div>
                    
                </form>
            </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button " class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
        </div>
    </div>
</body>

                


<script>
    // Example data for the pie chart (present data)
    const presentData = {
       serve:  `<%= preData.serve%>`,
  receive: `<%= preData.receive%>`,
  hitting: `<%= preData.hitting%>`,
  blocking: `<%= preData.blocking%>`,
  setting: `<%= preData.setting%>`,
  defense: `<%= preData.defense%>`
    };

    // Example data for the histogram (past data)
    const pastData = `<%= servePointsArray%>`; // Example data points representing progress over time
</script>
<script>
    const ctx = document.getElementById('progressChart').getContext('2d');
    const presentChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: Object.keys(presentData),
            datasets: [{
                data: Object.values(presentData),
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#f8e2b0','#c1ebea'],
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Present Data Distribution'
                }
            }
        }
    });
</script>
<script>
    const pastCtx = document.getElementById('pastChart').getContext('2d');
    const pastChart = new Chart(pastCtx, {
        type: 'bar',
        data: {
            labels: `<%= labels%>`, // Example labels
            datasets: [{
                label: '<%= searchTerm %> Points Over days',
                data: pastData,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            responsive: true,
            plugins: {
                legend: {
                    display: true,
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Progress Over Time'
                }
            }
        }
    });
</script>

